# Javascript Testing Snippet
snippet des "describe function"
describe('${1:Describe your testing Content/Type}', ${2:function($3){
	$0
}});
endsnippet

snippet it "it function"
it('${1:What you want to get from test}', ${2:function($3) {
	$0
}});
endsnippet

# ES6 Snippet

snippet => "Arrows and Lexical This"
($1) => ${2:{
	$0
}}
endsnippet

snippet let "let assign snippet"
let ${1:Variable} = ${2:Value};
endsnippet
